In [1]:
import pyspark

In [2]:
import pandas as pd
type(pd.read_csv('ds_salaries.csv'))

pandas.core.frame.DataFrame

Start a Spark Session
Lesson: getOrCreate not getorCreate()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('ds_salaries.csv')

In [7]:
df_pyspark.show()

+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|      _c0|             _c1|            _c2|                 _c3|   _c4|            _c5|          _c6|               _c7|         _c8|             _c9|        _c10|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
|     2023|              SE|             FT|Principal Data Sc...| 80000|            EUR|        85847|                ES|         100|              ES|           L|
|     2023|              MI|             CT|         ML Engineer| 30000|            USD|        30000|                US|         100|              US|           S|
|     2023|              MI|             CT|         ML Engineer| 25500|            USD|        25500|                US|         100|              US|           S|
|     2023|              SE|             FT|      Data Scientist|175000|            USD|       175000|                CA|         100|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|120000|            USD|       120000|                CA|         100|              CA|           M|
|     2023|              SE|             FT|   Applied Scientist|222200|            USD|       222200|                US|           0|              US|           L|
|     2023|              SE|             FT|   Applied Scientist|136000|            USD|       136000|                US|           0|              US|           L|
|     2023|              SE|             FT|      Data Scientist|219000|            USD|       219000|                CA|           0|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|141000|            USD|       141000|                CA|           0|              CA|           M|
|     2023|              SE|             FT|      Data Scientist|147100|            USD|       147100|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist| 90700|            USD|        90700|                US|           0|              US|           M|
|     2023|              SE|             FT|        Data Analyst|130000|            USD|       130000|                US|         100|              US|           M|
|     2023|              SE|             FT|        Data Analyst|100000|            USD|       100000|                US|         100|              US|           M|
|     2023|              EN|             FT|   Applied Scientist|213660|            USD|       213660|                US|           0|              US|           L|
|     2023|              EN|             FT|   Applied Scientist|130760|            USD|       130760|                US|           0|              US|           L|
|     2023|              SE|             FT|        Data Modeler|147100|            USD|       147100|                US|           0|              US|           M|
|     2023|              SE|             FT|        Data Modeler| 90700|            USD|        90700|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist|170000|            USD|       170000|                US|           0|              US|           M|
|     2023|              SE|             FT|      Data Scientist|150000|            USD|       150000|                US|           0|              US|           M|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

LESSON
df_pyspark = spark.read.option('header','true').csv('ds_salaries.csv').show gives the output of type as none. To get the type or print schema you have to remove .show

inferSchema = makes sure column data types are valid. Without inferSchema all columns are of data type string

In [38]:
df_pyspark = spark.read.option('header','true').csv('ds_salaries.csv', inferSchema=True)

In [39]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Check the schema

In [40]:
df_pyspark.printSchema()

root
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

A dataframe is data structure where we can perform several operation

In [8]:
df_pyspark = spark.read.csv('ds_salaries.csv', header=True, inferSchema=True)

Selecting Columns and Indexing

In [9]:
df_pyspark.columns

['work_year',
 'experience_level',
 'employment_type',
 'job_title',
 'salary',
 'salary_currency',
 'salary_in_usd',
 'employee_residence',
 'remote_ratio',
 'company_location',
 'company_size']

In [43]:
df_pyspark.head()

Row(work_year=2023, experience_level='SE', employment_type='FT', job_title='Principal Data Scientist', salary=80000, salary_currency='EUR', salary_in_usd=85847, employee_residence='ES', remote_ratio=100, company_location='ES', company_size='L')

Pick One Column

In [ ]:
df_pyspark.select('work_year').show()

Pick Multipe Columns

In [47]:
df_pyspark.select(['work_year', 'experience_level'])

DataFrame[work_year: int, experience_level: string]

Check data types

In [48]:
df_pyspark.dtypes

[('work_year', 'int'),
 ('experience_level', 'string'),
 ('employment_type', 'string'),
 ('job_title', 'string'),
 ('salary', 'int'),
 ('salary_currency', 'string'),
 ('salary_in_usd', 'int'),
 ('employee_residence', 'string'),
 ('remote_ratio', 'int'),
 ('company_location', 'string'),
 ('company_size', 'string')]

In [49]:
df_pyspark.describe().show()

+-------+------------------+----------------+---------------+--------------------+------------------+---------------+------------------+------------------+------------------+----------------+------------+
|summary|         work_year|experience_level|employment_type|           job_title|            salary|salary_currency|     salary_in_usd|employee_residence|      remote_ratio|company_location|company_size|
+-------+------------------+----------------+---------------+--------------------+------------------+---------------+------------------+------------------+------------------+----------------+------------+
|  count|              3755|            3755|           3755|                3755|              3755|           3755|              3755|              3755|              3755|            3755|        3755|
|   mean|2022.3736351531293|            NULL|           NULL|                NULL|190695.57177097205|           NULL|137570.38988015978|              NULL|46.271637816245004|            NULL|        NULL|
| stddev|0.6914482342677833|            NULL|           NULL|                NULL| 671676.5005079063|           NULL|63055.625278224135|              NULL|48.589050470587495|            NULL|        NULL|
|    min|              2020|              EN|             CT|3D Computer Visio...|              6000|            AUD|              5132|                AE|                 0|              AE|           L|
|    max|              2023|              SE|             PT|Staff Data Scientist|          30400000|            USD|            450000|                VN|               100|              VN|           S|
+-------+------------------+----------------+---------------+--------------------+------------------+---------------+------------------+------------------+------------------+----------------+------------+

Adding Columns in Data frame

In [10]:
yearly_salary = df_pyspark.withColumn('yearly salary', df_pyspark['salary']*12).show()

+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+-------------+
|work_year|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|yearly salary|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+-------------+
|     2023|              SE|             FT|Principal Data Sc...| 80000|            EUR|        85847|                ES|         100|              ES|           L|       960000|
|     2023|              MI|             CT|         ML Engineer| 30000|            USD|        30000|                US|         100|              US|           S|       360000|
|     2023|              MI|             CT|         ML Engineer| 25500|            USD|        25500|                US|         100|              US|           S|       306000|
|     2023|              SE|             FT|      Data Scientist|175000|            USD|       175000|                CA|         100|              CA|           M|      2100000|
|     2023|              SE|             FT|      Data Scientist|120000|            USD|       120000|                CA|         100|              CA|           M|      1440000|
|     2023|              SE|             FT|   Applied Scientist|222200|            USD|       222200|                US|           0|              US|           L|      2666400|
|     2023|              SE|             FT|   Applied Scientist|136000|            USD|       136000|                US|           0|              US|           L|      1632000|
|     2023|              SE|             FT|      Data Scientist|219000|            USD|       219000|                CA|           0|              CA|           M|      2628000|
|     2023|              SE|             FT|      Data Scientist|141000|            USD|       141000|                CA|           0|              CA|           M|      1692000|
|     2023|              SE|             FT|      Data Scientist|147100|            USD|       147100|                US|           0|              US|           M|      1765200|
|     2023|              SE|             FT|      Data Scientist| 90700|            USD|        90700|                US|           0|              US|           M|      1088400|
|     2023|              SE|             FT|        Data Analyst|130000|            USD|       130000|                US|         100|              US|           M|      1560000|
|     2023|              SE|             FT|        Data Analyst|100000|            USD|       100000|                US|         100|              US|           M|      1200000|
|     2023|              EN|             FT|   Applied Scientist|213660|            USD|       213660|                US|           0|              US|           L|      2563920|
|     2023|              EN|             FT|   Applied Scientist|130760|            USD|       130760|                US|           0|              US|           L|      1569120|
|     2023|              SE|             FT|        Data Modeler|147100|            USD|       147100|                US|           0|              US|           M|      1765200|
|     2023|              SE|             FT|        Data Modeler| 90700|            USD|        90700|                US|           0|              US|           M|      1088400|
|     2023|              SE|             FT|      Data Scientist|170000|            USD|       170000|                US|           0|              US|           M|      2040000|
|     2023|              SE|             FT|      Data Scientist|150000|            USD|       150000|                US|           0|              US|           M|      1800000|
|     2023|              MI|             FT|        Data Analyst|150000|            USD|       150000|                US|         100|              US|           M|      1800000|
+---------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+-------------+
only showing top 20 rows

Drop Colums

In [ ]:
drop_ysalary = df_pyspark.drop('yearly_salary')

In [75]:
yearly_salary = spark.read.csv('ds_salaries.csv', header=True, inferSchema=True)

Rename Column

In [79]:
df_pyspark.withColumnRenamed('work_year', 'year_employed').show()

+-------------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|year_employed|experience_level|employment_type|           job_title|salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+-------------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|         2023|              SE|             FT|Principal Data Sc...| 80000|            EUR|        85847|                ES|         100|              ES|           L|
|         2023|              MI|             CT|         ML Engineer| 30000|            USD|        30000|                US|         100|              US|           S|
|         2023|              MI|             CT|         ML Engineer| 25500|            USD|        25500|                US|         100|              US|           S|
|         2023|              SE|             FT|      Data Scientist|175000|            USD|       175000|                CA|         100|              CA|           M|
|         2023|              SE|             FT|      Data Scientist|120000|            USD|       120000|                CA|         100|              CA|           M|
|         2023|              SE|             FT|   Applied Scientist|222200|            USD|       222200|                US|           0|              US|           L|
|         2023|              SE|             FT|   Applied Scientist|136000|            USD|       136000|                US|           0|              US|           L|
|         2023|              SE|             FT|      Data Scientist|219000|            USD|       219000|                CA|           0|              CA|           M|
|         2023|              SE|             FT|      Data Scientist|141000|            USD|       141000|                CA|           0|              CA|           M|
|         2023|              SE|             FT|      Data Scientist|147100|            USD|       147100|                US|           0|              US|           M|
|         2023|              SE|             FT|      Data Scientist| 90700|            USD|        90700|                US|           0|              US|           M|
|         2023|              SE|             FT|        Data Analyst|130000|            USD|       130000|                US|         100|              US|           M|
|         2023|              SE|             FT|        Data Analyst|100000|            USD|       100000|                US|         100|              US|           M|
|         2023|              EN|             FT|   Applied Scientist|213660|            USD|       213660|                US|           0|              US|           L|
|         2023|              EN|             FT|   Applied Scientist|130760|            USD|       130760|                US|           0|              US|           L|
|         2023|              SE|             FT|        Data Modeler|147100|            USD|       147100|                US|           0|              US|           M|
|         2023|              SE|             FT|        Data Modeler| 90700|            USD|        90700|                US|           0|              US|           M|
|         2023|              SE|             FT|      Data Scientist|170000|            USD|       170000|                US|           0|              US|           M|
|         2023|              SE|             FT|      Data Scientist|150000|            USD|       150000|                US|           0|              US|           M|
|         2023|              MI|             FT|        Data Analyst|150000|            USD|       150000|                US|         100|              US|           M|
+-------------+----------------+---------------+--------------------+------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows